* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'pikminregular';
    src: url('pikmin-font/pikmin-font-webfont.woff2') format('woff2'),
         url('pikmin-font/pikmin-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 2em;
    font-family: 'Concert One', cursive;
    font-family: 'Handjet', cursive;
   
}

#day-timer{
    position: absolute;
    color: white;
    top: 25%;
    left: 35%;
    font-size: 1.6em;
}

.container {
    display: grid;
    grid-template-columns:repeat(9, 1fr); 
    grid-template-rows:repeat(9, 1fr); 
    grid-template-areas: 
        ". . . . . . . i4 i4"
        ". . . . . . . i4 i4"
        ". . . . . . . . ."
        ". . . i5 i5 i5 . i2 ."
        ". . i1 i5 i5 i5 . i2 ."
        ". . i1 i5 i5 i5 . . ."
        ". . . i5 i5 i5 . . ."
        ". . . . . . . . ."
        ". . . . . i3 . . ."; 
    height: 100vh;
    width: 100vw;
}

.i1 { grid-area: i1; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i2 { grid-area: i2; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i3 { grid-area: i3; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
    z-index: 1001;
}

.i4 { grid-area: i4; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
    display: flex;
}

/* .i5 { grid-area: i5; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
    display: flex;
} */

#olimar {
    width: 4em;
}

#ssdolphin{
    width: 3em;
}

#next-day-overlay{
display: none;
position: absolute;
width: 100%;
height: 100%;
left: 0%;
right: 0;
bottom: 0%;
background-color: rgba(255, 255, 255, 0.4);
z-index: 999;
}

/* #play-again-button {
    z-index: 1001;
} */

#next-day-button{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
    }


