* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 30px;
    font-family: 'Concert One', cursive;
    font-family: 'Handjet', cursive;
}

#disabling-div {
    display: none;
    position: absolute;
    width: 9%;
    height: 35%;
    left: 88.7%;
    right: 0;
    bottom: 35%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 5;
}

p .olimar-ship-text {
    padding: 20px;
}

.container {
    display: grid; 
    grid-template-columns:repeat(9, 1fr); 
    grid-template-rows:repeat(9, 1fr); 
    grid-template-areas: 
        ". . i8 . . i5 i9 i9 ."
        "i1 . i8 . . i5 i9 i9 ."
        "i1 . . i10 i10 i10 i10 . ."
        ". . . i10 i10 i10 i10 i4 i3"
        ". . i6 i10 i10 i10 i10 i4 i3"
        ". . i6 i10 i10 i10 i10 . ."
        ". . . i10 i10 i10 i10 . ."
        ". i2 . . . . i7 . ."
        ". i2 . . . . i7 . ."; 
    height: 100vh;
    width: 100vw;
}

.i1 { grid-area: i1; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i2 { grid-area: i2; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i3 { grid-area: i3; 
    color: white;
    font-weight: bold;
}

.i4 { grid-area: i4; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i5 { grid-area: i5; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i6 { grid-area: i6; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i7 { grid-area: i7; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i8 { grid-area: i8; 
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i9 { grid-area: i9; 
    display: flex;
    border: red solid 3px;
    color: white;
    font-weight: bold;
}

.i10{ grid-area: i10;
    display:none;
    color: white;
    font-weight: bold;
    border: blue solid 3px;
}


#modal {
    background: rgb(198,198,198);
    background: linear-gradient(360deg, rgba(198,198,198,1) 0%, rgba(0,0,0,0.75) 59%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: center;
    border: yellow solid 3px;
    color: white;
    font-weight: bold;
}

#pikmin-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: solid lightblue 3px;
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.5em;
    font-family: Concert One;
}

#pikmin-numbers img {
    width: 50%;
    color: white;
}

#red-pikmin {
    color: red;
}

#yellow-pikmin {
    color: yellow;
}

#blue-pikmin {
    color: blue;
}

#total-pikmin {
    color: white;
}

#olimars-ship {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#damaged-ship {
    width: 3em;
    filter: brightness(50%);
    /*Increase brightness with each part collected? Optional.*/
}

#repaired-ship {
    width: 3em;
}


